
.slideTransition {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.5s ease var(--delay);
    &__hidden{
        opacity: 0;
        transform: translate(var(--translate),);

    }
}
