services:
  web:
    build:
      context: .
      dockerfile: ./.docker/dev/Dockerfile
    restart: unless-stopped
    # Montage du secret dans le conteneur au runtime
    secrets:
      - source: my_secret
        target: /app/.env.local # Le fichier apparaîtra ici dans le conteneur
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "3000:3000"
    command: ["npm", "run", "dev"]

# Définition globale du secret (doit être au même niveau que 'services')
secrets:
  my_secret:
    file: ./.env.local