
/*--Colors--*/
$color-primary: #f67a21;


$color-secondary: #22c55e;
$color-secondary-light: #f7f7f5;
$color-secondary-opacity: #22c55e69;
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.87);


$color-blue: #ff8800;
$color-grey: rgb(126, 126, 126);
$color-error: #e22121;
$color-confirmation: #21e2a1;
$color-glass: rgba(240, 217, 160, 0.12);

/*--Fonts--*/
$font-color: #0a0a0a;
$font-color-opacity: #0a0a0a3d;


$font-primary: 'fontGeneral', sans-serif;
$font-secondary: 'fontTitle', sans-serif;
$font-size: 1rem;
$font-size-small: 0.8rem;
$font-size-large: 10vw;
$font-size-large-x2: 20vw;
$font-size-medium: 4vw;
$font-size-bold: 900;

$size-cursor-large: 106px;

/*--Borders--*/
$border-radius: 0.2rem;

/*--Margins--*/
$width-responsive: 98%;
$width-desktop: 94%;

$paddin-card: 0.2rem;

/*--Shadow--*/
$text-shadow-white: 0 4px 30px rgba(255, 255, 255, 0.493);
$text-shadow-black: 0 4px 30px rgba(10, 10, 10, 0.18);
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
