@use './reset';
@use './icon.scss';
@use './animation';
@use './variables' as *;
@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as * ;

:root{
  --white-color: #fff;
  --primary-color: #def0c2;
  --secondary-color: #f5f6f3;
  --secondary-light-color: #f6f9fe;
  --black-color: #212229;
  --black-opacity-color: #17181dc2;
  --form-color: #f3f4f6;
}

body
{
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
  color: var(--black-color);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 600;
  margin: 1rem 0 ;
}

h1{
  font-size: 2rem;
}

h2{
 font-size: 1.25rem;
}
h3{
 font-size: 1.12rem;

}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
}


button a,
nav a
{
  text-decoration: none;
}
button:disabled {
    background-color: #f3f4f6;
    color: #17181dc2;
}
button
footer{
  a {
    text-decoration: none;
  }
  h3{
    margin: 0;
  }
}
button[type="submit"]{
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover i{
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;   
  }
}
button[type="submit"] span {
  transform: rotate(180deg) !important;
  transition: transform 0.2s ease-in-out !important;
}
//* Form
.label{
  font-size: $font-size;
  font-family: $font-primary;
  color: var(--black-color);
  margin-bottom: 0.5rem;
  display: inline-block;
  background-color: var(--white-color) ;
  transform: translateY(1rem) translateX(.5rem);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  text-align: left;

}

input,
textarea{
  font-size: $font-size;
  font-family: $font-primary;
  width: 100%;
  color: var(--black-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: .001rem solid $font-color;
  &:focus{
    outline: none;
    background: var(--white-color);
  }
  &:active{
    background: none;
  }
  &::placeholder{
    // color: $font-color;
    opacity: 0.8;
  }
}

select{
  width: 100%;
  border: 0.5px solid $font-color;
  font-size: $font-size;
  font-family: $font-primary;
  border-radius: $border-radius;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
article li{
 list-style: disc;
 margin-left: 1rem;
 & ul li{
    list-style: circle;
  }
}
.text-black-opacity {
  font-weight: 100;
}

pre {
    background-color: #f5f5f5;
    color: #2d2d2d;
    padding: 16px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace; 
    white-space: pre-wrap; 
    border: 1px solid #ddd; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); 
}
code {
    font-family: "Courier New", Courier, monospace; 
    color: #2d2d2d; 
    font-size: 14px;
    white-space: pre-wrap; 
}

figure{
  background-color:var(--form-color);
  display: block;
  text-align: center;
  & img{
    margin: 0 auto;
  }
}
.table {
  overflow-x: auto;
  display: block;
    & table {
      display: table;
      word-break: normal;
      text-indent: initial;
      unicode-bidi: isolate;
      width: 100%;
      border-collapse: collapse;
    & th, td {
      padding: 10px 15px; 
      border: 1px solid #ddd; 
    }

    // th {
    //   font-weight: bold; 
    // }

    // tr:nth-child(even) {
    //   background-color: #f9f9f9; 
    // }


    // caption {
    //   font-size: 1.25rem;
    //   font-weight: bold;
    //   margin-bottom: 10px; 
    // }

  }
}
figcaption{
  display: inline-block;
  color: var(--tw-text-opacity, 1);
  padding: 1rem .25rem 1rem  ;
  font-style: italic;
  font-size: 0.9rem;
}
// @media (prefers-color-scheme: dark) {
//   :root{
//     --secondary-light-color:#302e52;
//     --secondary-color: #d2cfff;
//     --black-color: #fff;
//     --white-color: #17181d;
//     --form-color: #444546;
//   }
// }

a{
  text-decoration: underline;
}

a .bg-primary,
a .bg-secondary,
.bg-primary a,
.bg-secondary a,
button.bg-primary
{
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05); 
    color: var(--primary-color);
  }
}


*:focus {
  outline: 3px solid var(--secondary-light-color);/* Changez la couleur du contour (exemple : bleu clair) */
  outline-offset: 2px; /* Ajoute un léger espacement autour de l'élément */
  box-shadow: 0 0 0 .2rem var(--primary-color); /* Ombre autour du focus pour plus de visibilité */
}

.list{
  width: 50%;
  margin: 0 auto;
}