@use 'reset.scss';
@use 'fonts.scss';
@use './icon.scss';
@import './variables.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
  --white-color: #fff;
  --primary-color: #a179ff;
  --secondary-color: #615ca6;
  --secondary-light-color: #f6f9fe;
  --black-color: #17181d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'fontGeneral', sans-serif;
  color: var(--black-color);
  background: var(--white-color);
  white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'fontTitle', sans-serif;
}

h2{
 font-size: 1.25rem;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
}

a{
  &:hover{
    color: var(--primary-color) !important;
  }
}

//* Form
input,
textarea{
  border: none;
  font-size: $font-size;
  font-family: $font-primary;
  width: 100%;
  color: var(--black-color);
  padding: 0.5rem;
  background: #e5e5e6;
  border-radius: 0.25rem;
  &:focus{
    outline: none;
    background: none;
  }
  &:active{
    background: none;
  }
  &::placeholder{
    color: $font-color;
    opacity: 0.5;
  }
}

select{
  width: 100%;
  border: 0.5px solid $font-color;
  font-size: $font-size;
  font-family: $font-primary;
  border-radius: $border-radius;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --secondary-light-color:#302e52;
    --secondary-color: #1d1c31;
    --black-color: #fff;
    --white-color: #17181d;
  }
}
