@use './reset.scss';
@use './fonts.scss';
@use './icon.scss';
@import './variables.scss';


body {
  font-family: $font-primary;
  font-size: 1rem;
  color: $color-primary;
  text-align: center;
}
h1{
  font-size:20vw;
}
h2{
  font-size: 8vw;
}
h1,
h2,
h3 {
  font-family: $font-secondary;
  font-weight: bold;
}
.text h3{
  font-size: 1.5rem;
}
//* Button
button{
  font-family: $font-secondary;
  border: none;
  font-size: 1.2rem;
  background: $color-primary !important;
  color: $color-white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem 0;
  width: 49%;
  & i{
    margin: 0 0.5rem 0 0;
  }

}
div button:hover{
  color: #fff !important;
}
button:hover{
  background: $color-secondary !important;
}
.textAnimation{
  animation: textAnimation 0.5s linear forwards;
  &_hover{
    animation: textAnimation_hover 1s linear forwards;
    width: 100%;
  }
}

@keyframes textAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes textAnimation_hover{
  0%{
    transform: translate(-50%, 00%);
    opacity: 1;
  }
  100%{
    transform: translate(-50%, 20%);
    opacity: 0;
  }
}
  

.relative{
  position: relative;
}
.absolute-content{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.absolute{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  content: '';

}

.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

//* Form

img{
  max-width: 100%;
  max-height: 100%;
}


i{
  font-size: 1.8rem;
}

hr{
  width: 90%;
}

//* Message Modal
.change{
  color: grey;
}
.confirmation{
  color: green;

}
.error{
  color: red;
}

.section{
  height: 50vh;
}
.titleBackground {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

g {
  transition: fill 1s linear;
}
.color{
  color: rgba(15, 132, 161, 0.87) ;
}
// Animation
.slideAnimation{
  animation: slideAnimation 1s ease forwards;
  transform: translateX(-1000%);
  opacity: 0;
  opacity: 0;
}
@keyframes slideAnimation{
  0%{
  }
  50%{
    opacity: 0.6;
    transform: translateX(10%);
  }
  70%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.wave{
  animation: transitionEffectWave 0.5s;
}

@keyframes transitionEffectWave{
  0% {
      filter: blur(2px);
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(0.9);
      filter: blur(2px);
    }
    100% {
      transform:   scaleY(1);
    }
}

.animationPath{
  fill: #5c2751ab;
  stroke: #5c275142;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 2s linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill: #c0bfc8;
    stroke: none;
  }
}
// Media Queries

@media screen and (min-width: 590px) {
  h1{
    font-size: 10vw;
  }
  h2{
    font-size: 5vw;
  }
  body {
    font-size: 1.2rem;
  }
  i {
    font-size: 2.5rem !important;
  }
}