@use './reset.scss';
@use './fonts.scss';
@use './icon.scss';
@import './variables.scss';


body {
  font-family: $font-primary;
  font-size: 1rem;
  color: $color-primary;
  text-align: center;
}
h1{
  font-size:20vw;
}
h2{
  font-size: 8vw;
}
h1,
h2,
h3 {
  font-family: $font-secondary;
  font-weight: bold;
}
.text h3{
  font-size: 1.5rem;
}
//* Button
button{
  font-family: $font-secondary;
  border: none;
  font-size: 1.2rem;
  background: #fff;
  color: $color-primary;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem 0;
  width: 49%;
  &:hover{
    background: $color-primary;
    color: #fff;
  }
  & i{
    margin: 0 0.5rem 0 0;
  }

}
.text-hover{
  transform: translate(-50%, 30%) !important;
  opacity: 0.2;
  color: #fff;
  transition: all 0.5s ease;
}
.relative{
  position: relative;
}
.absolute-content{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

//* Form

img{
  max-width: 100%;
  max-height: 100%;
}


i{
  font-size: 1.8rem;
}

hr{
  width: 90%;
}

//* Message Modal
.change{
  color: grey;
}
.confirmation{
  color: green;

}
.error{
  color: red;
}

.section{
  height: 50vh;
}
.titleBackground {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

g {
  transition: fill 1s linear;
}
.color{
  color: rgba(15, 132, 161, 0.87) ;
}

.animationPath{
  fill: #5c2751ab;
  stroke: #5c275142;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 2s linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill: #c0bfc8;
    stroke: none;
  }
}
// Media Queries

@media screen and (min-width: 590px) {
  h1{
    font-size: 10vw;
  }
  h2{
    font-size: 5vw;
  }
  body {
    font-size: 1.2rem;
  }
  i {
    font-size: 2.5rem !important;
  }
}