@import './variables.scss';


//* Home
.home{
  // Categories
  &__categories{
    position: relative;
    margin: 0 0 1rem;
    &__title{
      font-size: 15vw;
    }
    &-img{
      width: 100%;
      height: 100%;
    }
  }

  // Experiences
  &__experience{
    margin: 0 0 1rem;
    width: 100%;
    display: flex;
    &-img{
      width: 50%;
      height: auto;
      object-fit: contain;
    }
    &-text{
      color: $color-primary;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > h2 {
        margin: 0 0 1rem 0;
      }
      & > h3 {
        font-weight: 900;
      }
      &-link{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0 0 0;
        flex-wrap: wrap;
        &-github, &-site{
          display: flex;
        }
      }
    }
    &__backgroundAnimation{
      display: flex;
      align-items: flex-end;
      &__element{
        background: $color-secondary;
        max-height: 50vh;
        z-index: -1;

      }
    }
  }

}


.footer{
  & button{
    color: $color-green !important;
    background: $color-primary !important;
  }
  &__contact{
    line-height: 2rem;
    background: $color-secondary;
    & button{
      width: auto;
      padding: 1rem;
    }
    &__listSocial{
      padding:  1.5rem 0;
      display: flex;
      justify-content: space-around;
      & i {
        color: $color-green !important;
      }
    }
  }

  & h3{
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
  }

  &-form{
    width: 80%;
    margin: auto;
    & ::placeholder{
      color: $color-primary;
      font-family: $font-primary;
      opacity: 0.5;
    }
    //* TextArea
    &-textarea{
      margin: 2rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & textarea{
        font-family: $font-primary;
        font-size: $font-size;
        box-sizing: border-box;
        border: none;
        border-bottom: 0.1rem solid $color-primary;
        resize: none;
        line-height: 2rem;
        overflow-y: hidden;
        overflow-x: auto;
        height: auto;
        padding: 0.5rem;
        background: none;
        outline: none;
        width: 80%;
      }
    }
    //* Input
    &-input{
      margin: 2rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & input[type="text"], input[type="email"]{
        font-family: $font-primary;
        font-size: $font-size;
        background: none;
        padding: 0.5rem;
        border: none;
        border-bottom: 0.1rem solid $color-primary;
        outline: none;
        cursor: pointer;
        resize: none;
        width: 80%;
      }     
    }
    //*Message
    &-message{
      border-radius: 1rem;
      background-color: $color-red;
      color: $color-red;
      margin: 1rem auto;
      padding: 1rem;
      width: 80%;
      animation: fadeIn 1.5s ease;
    }
  }
  &-author{
    background: $color-primary;
    color: $color-secondary;
    padding: 0.5rem;
    font-size: $font-size-small;
  }
}

.activeText{
  position: absolute;
}
.about{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  & h3{
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
  }
}

//* Animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translate(0);
  }
  100% {
    opacity: 1;
    transform: translate(100%);
  }
}

//* Media Queries

@media screen and (min-width: 620px){
  .home{
    &__categories{
      &__title{
        font-size: 10vw;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .home{
    &__experience{
      display: flex;
      align-items: center;
      &-img{
        width: 50%;
      }
      &-text{
        width: 50%;
        & > h2 {
          margin: 0 0 1rem 0;
        }
        & > h3 {
          font-weight: 900;
        }
        &-link{
          font-weight: 900;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home{
    &__experience{

      &-text{
        width: 60%;
      }
    }
    &-contact{
      &-list-social{
      }
    }
  }
  .footer{
    &-form{
      &-textarea{
        & textarea{
          width: 100%;
        }
      }
      &-top{
        display: flex;
        justify-content: space-between;
      }
      &-input{
        width: 30%;
        & input[type="text"], input[type="email"]{
          width: 100%;
        }
      }
    }
  }
}
.blur{
  filter: blur(0.2em);
}