@import './variables.scss';



// /*--Font--*/
// $font-primary: 'Roboto', sans-serif;
// $font-secondary: 'Roboto', sans-serif;
// $font-size: 1.6rem;
// $font-size-small: 1.4rem;
// $font-size-medium: 1.8rem;
// $font-size-bold: 900;



//* Home
.home{
  // Categories
  &-categories{
    position: relative;
    margin: 0 0 1rem;
    &-title{
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      padding: 1rem 0;
      background: rgba(255, 255, 255, 0.8);
    }
    &-img{
      width: 100%;
      height: 10vh;
      object-fit: cover;
    }
  }

  // Experiences
  &-experience{
    margin: 0 0 1rem;
    border-bottom:0.1rem solid $color-primary; ;
    &-img{
      width: 100%;
      height: 30vh;
      object-fit: contain;
    }
    &-text{
      color: $color-primary;
      background: $color-secondary;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > h2 {
        margin: 0 0 1rem 0;
      }
      & > h3 {
        font-weight: 900;
      }
      &-link{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0 0 0;
        &-github, &-site{
          display: flex;
        }
      }
    }
  }

}

// About */
.about{
  & img{
    width: 30%;
    height: 30%;
    border-radius: 100%;
    margin: 0 0 1rem 0;
  }
  &-content{
    margin: 0 0 1rem 0;
    &-italic{
      margin: 0 0 1rem 0;
      opacity: 0.8;
      font-style: italic;
    }
  }
}


.footer{
  &-author{
    background: $color-secondary-dark;
    color: $color-secondary;
    padding: 0.5rem;
    font-size: $font-size-small;
    & i{
      font-size: 2rem;
    }
  }
  & h3{
    padding: 1rem 0;
  }
  &-contact{
    line-height: 2rem;
    &-list-social{
      padding:  1.5rem 0;
      display: flex;
      justify-content: space-around;
      background: $color-background;
    }
  }
  &-form{
    width: 80%;
    margin: auto;
    //* Background
    &-backcground{
      background: $color-background;
    }
    //* TextArea
    &-textarea{
      margin: 2rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & textarea{
        font-family: $font-primary;
        font-size: $font-size;
        box-sizing: border-box;
        border: none;
        border-bottom: 0.1rem solid $color-primary;
        resize: none;
        line-height: 2rem;
        overflow-y: hidden;
        overflow-x: auto;
        height: auto;
        padding: 0.5rem;
        background: none;
        outline: none;
        width: 80%;
      }
    }
    //* Input
    &-input{
      margin: 2rem 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & input[type="text"], input[type="email"]{
        font-family: $font-primary;
        font-size: $font-size;
        background: none;
        padding: 0.5rem;
        border: none;
        border-bottom: 0.1rem solid $color-primary;
        outline: none;
        cursor: pointer;
        resize: none;
        width: 80%;
      }     
    }
    //*Message
    &-message{
      border-radius: 1rem;
      background-color: $color-error;
      color: $color-red;
      margin: 1rem auto;
      padding: 1rem;
      width: 80%;
      animation: fadeIn 1.5s ease;
    }
  }
}

//* Animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translate(0);
  }
  100% {
    opacity: 1;
    transform: translate(100%);
  }
}

//* Media Queries

@media screen and (min-width: 720px) {
  .home{
    &-experience{
      display: flex;
      align-items: center;
      &-img{
        width: 50%;
      }
      &-text{
        width: 50%;
        & > h2 {
          margin: 0 0 1rem 0;
        }
        & > h3 {
          font-weight: 900;
        }
        &-link{
          font-weight: 900;
        }
      }
    }
  }
  .about{
    &-content{
      width: 50%;
      margin: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home{
    &-experience{

      &-text{
        width: 60%;
      }
    }
    &-contact{
      &-list-social{
      }
    }
  }

  .footer{
    &-form{
      &-textarea{
        & textarea{
          width: 100%;
        }
      }
      &-top{
        display: flex;
        justify-content: space-between;
      }
      &-input{
        width: 30%;
        & input[type="text"], input[type="email"]{
          width: 100%;
        }
      }
  }

  }

}

.blur{
  filter: blur(0.2em);
}