@import './variables.scss';

.svgCategory{
    position: relative;
    width: 100%;
    height: 100%;
}
.svgCategory__svg{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #272727b6;
    height: 100%;
}
.activeHeader path{
    fill: #dd0000 !important;
}
.transitionEffect{
    animation: transitionEffect 1s ease;
}

@keyframes transitionEffect{
    0%{
        overflow: hidden !important;
        scroll-behavior: smooth;
        position: fixed;
        z-index: 9;
        width: 1000%;
        height: 100vh;
        left: -50%;
        background: $color-primary;
        filter: blur(10px);
    }
    20%{
        position: fixed;
        overflow: hidden !important;

        z-index: 9;
        width: 1000%;
        height: 100vh;
        left: 0%;
        filter: blur(10px);
        background: $color-primary;
    }
    50%{
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100vh;
        left: 0%;
        filter: blur(10px);        
        background: $color-primary;
    }
    100%{
        width: 100%;
        height: 50vh;
        left: 0;
        filter: blur(0px);
        background: none;
    }
}

