/*--Colors--*/
$color-primary: #2a1d37;
$color-primary-meduim: #503A65;
$color-primary-light: #574F7D;

$color-secondary: #6B8996;
$color-secondary-light: #e0f0ea;


$color-background:#EDF2EE;
$color-white: #fff;
$color-blue: #69b9e7;
$color-red: #e22121;
$color-green: #21e2a1;

/*--Fonts--*/
$font-primary: 'fontGeneral', sans-serif;
$font-secondary: 'fontTitle', sans-serif;
$font-size: 1.5rem;
$font-size-small: 1.2rem;
$font-size-large: 1.8rem;
$font-size-bold: 900;