@import '../../styles/variables.scss';


.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5% 0;
}
.card{
  width: 90%;

  & img{
    border-radius: 0.5rem;
    max-height: 202px;
    object-fit: cover;
  }
  &__content{
    padding: 5%;
    height: 5rem;
    text-align: center;
  }
  &:hover{
    background-color: $color-primary;
    color: $color-white;
    border-radius: $border-radius;
  }
}

@media screen and (min-width: 450px) {
  .card{
    width: 45%;
  }
}

@media screen and (min-width: 640px) {
  .card{
    width: 30%;
    margin: 0 0 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .card{
    width: 20%;
    margin: 1rem 2rem 0;
  }
}
@media screen and (max-width: 600px) {
  .card{
    margin: 1rem auto;
  }
}