@use './reset.scss';
@use './fonts.scss';
@use './icon.scss';
@import './variables.scss';


body {
  font-family: $font-primary;
  font-size: $font-size;
  color: $color-primary;
  text-align: center;
}

h1, h2{
  font-size: $font-size-large;
  font-family: $font-secondary;
  font-weight: bold;
}
  //* Button
  button{
    border: none;
    font-size: $font-size;
    background: $color-blue;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    padding: 1rem  1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    transition: color 1s linear;
    & i{
      margin: 0 0.5rem;
      padding: 1rem ;
    }
    &:hover{
      color: $color-primary;
      transition: color 1s linear;
    }

  }
img{
  max-width: 100%;
  margin: auto;
}
a:hover{
  color: $color-blue;
  text-shadow: 0 0 0.2rem $color-white;

}
hr{
  width: 90%;
}

//* Message Modal
.change{
  color: grey;
}
.confirmation{
  color: green;

}
.error{
  color: red;
}

