@use './reset.scss';
@use './fonts.scss';
@use './icon.scss';
@import './variables.scss';


body {
  font-family: $font-primary;
  font-size: $font-size;
  color: $color-primary;
  text-align: center;
}

h1, h2{
  font-size: $font-size-large;
  font-family: $font-secondary;
  font-weight: bold;
}
button {
  border: none;
  background: none;
}
img{
  max-width: 100%;
  margin: auto;
}
a:hover{
  color: $color-blue;
  text-shadow: 0 0 0.2rem $color-white;

}
hr{
  width: 90%;
}

//* Message Modal
.change{
  color: grey;
}
.confirmation{
  color: green;

}
.error{
  color: red;
}

