@import './variables.scss';
.active{
  color: rgb(201, 27, 27);
}
.header{
    opacity: 0;
    background: $color-secondary-light;
    position: sticky;
    font-family: 'fontTitle';
    font-weight: bold;
    top: -0.5rem;
    width: 100%!important;
    margin: 0 0 2rem 0;
    z-index: 1;
    &-button_close button {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        &:hover {
            opacity: 0.5;
            transition: all 0.3s ease-in-out;
        }
    }
    &-navbar{
      & li {
        margin: 0 0 2rem;
      }
      &-720{
        display: none;
      }
        &-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        &-item{

            &_subtitle{
                font-size: 1.5rem;
                font-weight: 600;
                width: 90%;
                margin: 1rem auto;
                padding: 0 1rem 1rem;
                border-bottom: 0.1rem solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;            
            }  
        }
        &-subtitle-item{
            border-bottom: 0.1rem solid;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            width: 70%;
            margin: auto;
        }
    }
    &-sticky{
        position: relative;
        margin: auto ;
        height: 50vh;
        &-img{
          height: 50vh;
          width: 100%;
          object-fit: none;
          position: relative;
          z-index: 0;
          &-animation{
            position: absolute;
            object-fit: contain;

            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }
        &-content{
         position: absolute;
         background: rgba(255, 255, 255, 0.8);
         width: 100%;
         height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
          & > h1{
            font-size: 2rem;
            margin: 0 0 1rem 0;
          }
        }
    }
                    
    
  }
  
  
  .header .header-navbar{
    height: 100vh;
  }

  @media screen and (min-width: 720px) {
    .header{
      &-sticky-img{
        object-fit: contain;
      }
      &-navbar{
        &-720{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        font-size: 1.5rem;
          & li{
            margin: 0 1rem;
          }
        } 
      &-toggle{
        display: none;
      }
    }
    } 
  }
  
  @media screen and (min-width: 1024px) {
    .footer{
      &-form-top{
        & input[type="text"], input[type="email"]{
          width: 30%;
          margin: 1rem 0.5rem 1rem 0;
        }
      }
      & textarea{
        width: 50%;
      }
    }
  }