@import './variables.scss';

.home{

  &-contact{
    line-height: 2rem;
    font-size: 1.5rem;
    &-list-social{
      margin: 1.5rem 0;
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
    }
  }
}


.footer{
  &-form-top{
    & input[type="text"], input[type="email"]{
      width:90%;
      margin: 1rem auto;
      padding: 0.5rem;
      font-family: 'fontGeneral';
      font-size: 1rem;
      border: 0.3rem solid $color-primary;
      border-radius: 0.5rem;
      outline: none;
      cursor: pointer;
    }
  }
  & textarea{
    width:90%;
    margin: 1rem auto;
    padding: 0.5rem;
    font-family: 'fontGeneral';
    font-size: 1rem;
    border: 0.3rem solid $color-primary;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
  }
  & button{
    font-size: 1rem;
    background: $color-primary;
    color: #fff;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    font-family: 'fontGeneral';
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    font-weight: bold;
  }
}

@media screen and (min-width: 720px) {
  .home{
    &-picture-experience{
      width: 70%;
    }
    &-picture-title{
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home{
    &-picture-title{
      width: 30%;
    }
    &-picture-experience{

      & a{
        font-size: 3rem;
      }
    }
    &-contact{
      &-list-social{
        font-size: 3rem;
      }
    }
  }

  .footer{
    &-form-top{
      & input[type="text"], input[type="email"]{
        width: 30%;
        margin: 1rem 0.5rem 1rem 0;
      }
    }
    & textarea{
      width: 50%;
    }
  }
}
.blur{
  filter: blur(0.2em);
}