@import './variables.scss';

//* Message Modal
.change{
  color: grey;
}
.confirmation{
  color: green;

}
.error{
  color: red;
}



//* Home
.home{
  // Categories
  &-categories{
    font-size: 1.2rem;
    position: relative;
    &-title{
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
    }
    &-img{
      width: 100%;
      height: 10vh;
      object-fit: cover;
    }
  }

  // Experiences
  &-experience{
    &-img{
      width: 100%;
      height: 30vh;
      object-fit: contain;
    }
    &-text{
      color: $color-primary;
      background: $color-secondary;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 1rem 0;
      & > h2 {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
      }
      & > h3 {
        font-size: 1.2rem;
        font-weight: 900;
      }
      &-link{
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0 0 0;
        &-github, &-site{
          display: flex;
        }
      }
    }
  }

}


.footer{
  background: $color-secondary;
  &-contact{
    line-height: 2rem;
    font-size: 1.5rem;
    &-list-social{
      padding:  1.5rem 0;
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
    }
  }
  &-form{
    //* TextArea
    &-textarea{
      margin: 1rem 0 0 0 ;
      &-input{
        display: flex;
        justify-content: center;
        align-items: center;
        &-field{
          width: 80%;
        }
        &-icon{
          font-size: 1.5rem;
          width: 10%;
        }
      }
    }
    //* Input
    &-input{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &-field{
        width: 80%
      }
      &-icon{
        font-size: 1.5rem;
        width: 10%;
      }
      &-message{
        border-radius: 1rem;
        background-color: $color-error;
        color: $color-red;
        font-size: 1.5rem;
        margin: 1rem auto;
        padding: 1rem;
        width: 80%;
      }
    }
    //*Message
    &-message{
      border-radius: 1rem;
      background-color: $color-error;
      color: $color-red;
      font-size: 1.5rem;
      margin: 1rem auto;
      padding: 1rem;
      width: 80%;
      animation: fadeIn 1.5s ease;
      }
    animation: fadeOut 1.5s ease;
    
    &-top{

      & input[type="text"], input[type="email"]{
        background: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        border: none;
        border-bottom: 0.1rem solid $color-primary;
        outline: none;
        cursor: pointer;
        resize: none;
        width: 100%;
      }

   }
}
  & textarea{
    box-sizing: border-box;
    border: none;
    border-bottom: 0.1rem solid $color-primary;
    resize: none;
    font-size: 1.5rem;
    line-height: 2rem;
    overflow: hidden;
    height: auto;
    padding: 0.5rem;
    background: none;
    outline: none;
    width: 100%;
  }
  & button{
    font-size: 1rem;
    background: $color-button;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    font-weight: 900;
    padding: 1rem;
    & i{
      font-size: 1.8rem;
      margin: 0 0.5rem;
    }
  }
}

//* Animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(100%);
  }
  100% {
    opacity: 0;
    transform: translate(100%);
  }
}

@media screen and (min-width: 720px) {
  .home{
    &-experience{
      display: flex;
      align-items: center;
      &-img{
        width: 50%;
      }
      &-text{
        width: 50%;
        margin: 0 0 1.5rem 0;
        & > h2 {
          font-size: 2rem;
          margin: 0 0 1rem 0;
        }
        & > h3 {
          font-size: 1.5rem;
          font-weight: 900;
        }
        &-link{
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
  }
  .footer{
    &-form{
      &-input{
        &-field{
          width: 80%
        }
      }
      &-top{
        display: flex;
        justify-content: center;
      }
  }

  }
}

@media screen and (min-width: 1024px) {
  .home{
    &-experience{

      &-text{
        margin: 0 0 2rem 0;
        width: 60%;
      }
    }
    &-contact{
      &-list-social{
        font-size: 3rem;
      }
    }
  }

  .footer{
    &-form{
      &-top{
        justify-content: space-between;
      }
  }

  }

}

.blur{
  filter: blur(0.2em);
}