@import './variables.scss';

.home{
  &-picture-title{
    width: 80%;
  }
  &-title{
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  &-subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  &-location{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  &-picture-experience{
    height: 25rem;
    width: 80%;
    margin: 1rem auto;
    box-shadow: 0.1rem 0.11rem 0.2rem $color-shadow;
    border: 0.1rem solid $color-primary;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    & img{
      width: 100%;
      height: 15rem;
      object-fit: contain;
    }
    & a{
      font-size: 2.5rem;
      margin: 1.5rem 0;
    }

  }
  &-contact{
    line-height: 2rem;
    font-size: 1.5rem;
    &-list-social{
      margin: 1.5rem 0;
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
    }
  }
}


.footer{
  &-form-top{
    & input[type="text"], input[type="email"]{
      width:90%;
      margin: 1rem auto;
      padding: 0.5rem;
      font-family: 'fontGeneral';
      font-size: 1rem;
      border: 0.3rem solid $color-primary;
      border-radius: 0.5rem;
      outline: none;
      cursor: pointer;
    }
  }
  & textarea{
    width:90%;
    margin: 1rem auto;
    padding: 0.5rem;
    font-family: 'fontGeneral';
    font-size: 1rem;
    border: 0.3rem solid $color-primary;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
  }
  & button{
    font-size: 1rem;
    background: $color-primary;
    color: #fff;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    font-family: 'fontGeneral';
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    font-weight: bold;
  }
}

@media screen and (min-width: 720px) {
  .home{
    &-picture-experience{
      width: 70%;
    }
    &-picture-title{
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home{
    &-picture-title{
      width: 30%;
    }
    &-picture-experience{

      & a{
        font-size: 3rem;
      }
    }
    &-contact{
      &-list-social{
        font-size: 3rem;
      }
    }
  }

  .footer{
    &-form-top{
      & input[type="text"], input[type="email"]{
        width: 30%;
        margin: 1rem 0.5rem 1rem 0;
      }
    }
    & textarea{
      width: 50%;
    }
  }
}