@font-face {
  font-family: 'iconTheneauM';
  src: url('../asset/font/icon/iconTheneauM.woff2') format('woff2'),
    url('../asset/font/icon/iconTheneauM.woff?7bufwb') format('woff'),
    url('../asset/font/icon/iconTheneauM.eot?7bufwb#iefix') format('embedded-opentype'),
    url('../asset/font/icon/iconTheneauM.ttf?7bufwb') format('truetype'),
    url('../asset/font/icon/iconTheneauM.svg?7bufwb#iconSocial') format('svg');

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconTheneauM' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-signature:before {
  content: "\e999";
}
.icon-scroll:before {
  content: "\e900";
}
.icon-paper-plane:before {
  content: "\e901";
}
.icon-website:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e946";
}
.icon-github:before {
  content: "\e947";
}
.icon-email:before {
  content: "\e948";
}
.icon-angle-right:before {
  content: "\e930";
}
.icon-navbar:before {
  content: "\e949";
}
.icon-x:before {
  content: "\e94a";
}
.icon-linkedin:before {
  content: "\e94b";
}
.icon-location:before {
  content: "\e94c";
}

//* Message error
.icon-error:before {
  content: "\e94a";
  color: red;
}
.icon-confirmation:before {
  content: "\e94c";
  color: green;
}

.icon-confirmation:before {
  content: "\e94c";
  color: green;
}
.icon-change:before {
  content: "\e94c";
  color: green;
}