/*--Colors--*/
$color-primary: #524e46;
$color-white: #fff;
$color-button: #69b9e7;
$color-secondary: #f5f3ef;
$color-grey: #d1cdc3;
$color-blue: #69b9e7;
$color-error: #5b5b5947;
$color-red: #e22121;

